// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: "Yekan Bakh";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/YekanBakh/YekanBakh-Regular.eot");
    src: url("fonts/YekanBakh/YekanBakh-Regular.eot?#iefix") format("embedded-opentype"),
         url("fonts/YekanBakh/YekanBakh-Regular.woff2") format("woff2"),
         url("fonts/YekanBakh/YekanBakh-Regular.woff") format("woff");
}

@font-face {
    font-family: "Yekan Bakh";
    font-style: normal;
    font-weight: bold;
    src: url("fonts/YekanBakh/YekanBakh-Bold.eot");
    src: url("fonts/YekanBakh/YekanBakh-Bold.eot?#iefix") format("embedded-opentype"),
         url("fonts/YekanBakh/YekanBakh-Bold.woff2") format("woff2"),
         url("fonts/YekanBakh/YekanBakh-Bold.woff") format("woff");
}
