html {
    height: 100%;
}

body {
    font-family: YekanBakh;
    min-height: 100%;
    background-color: #fff;
}

a {
    text-decoration: none;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }
}
