@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/YekanBakh-Regular.eot?1a1854606a05eb293122f3d17c0247d5);
  src: url(/fonts/YekanBakh-Regular.eot?1a1854606a05eb293122f3d17c0247d5?#iefix) format("embedded-opentype"), url(/fonts/YekanBakh-Regular.woff2?bfb362716166f865d0327b105129084c) format("woff2"), url(/fonts/YekanBakh-Regular.woff?5d5019fe5a7fe2d50cce095c77317098) format("woff");
}
@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/YekanBakh-Bold.eot?c876130a313d5e6b9b3a443f62d64d84);
  src: url(/fonts/YekanBakh-Bold.eot?c876130a313d5e6b9b3a443f62d64d84?#iefix) format("embedded-opentype"), url(/fonts/YekanBakh-Bold.woff2?8c84ec442c2b313aaccfbd551bd05311) format("woff2"), url(/fonts/YekanBakh-Bold.woff?1d710da3a97376832f2b313be2f9e512) format("woff");
}
html {
  height: 100%;
}

body {
  font-family: YekanBakh;
  min-height: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.challenge-intro {
  background-color: #1fc5b9;
  padding-top: 3.5rem;
}

.challenge-intro__content {
  padding: 5rem 0;
}

.challenge-intro__title {
  font-size: 3.75rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #fff;
  text-shadow: #02a4a6 0 6px 0;
}

.header {
  background-color: inherit;
  position: sticky;
  top: 0;
  padding: 0.5rem;
}

.header-bar__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bar__start {
  display: flex;
  align-items: center;
}
.header-bar__start .header-bar__item {
  -webkit-margin-start: 3rem;
          margin-inline-start: 3rem;
}

.header-bar__end {
  display: flex;
  align-items: center;
}

.header-bar__item-logo svg {
  color: #fff;
  fill: currentColor;
  transition: 0.2s;
}
.header-bar__item-logo:hover svg {
  color: #004545;
}

.header-bar__item,
.header-bar__sign-in,
.header-bar__language {
  color: #fff;
  font-size: 1rem;
  transition: color 0.2s;
}
.header-bar__item:hover,
.header-bar__sign-in:hover,
.header-bar__language:hover {
  color: rgba(255, 255, 255, 0.85);
}

.header-bar__sign-up,
.header-bar__language,
.header-bar__item-tel {
  -webkit-margin-start: 3rem;
          margin-inline-start: 3rem;
}

.header-bar__sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2.875rem;
  padding: 0 2.5rem;
  background-color: rgba(3, 52, 50, 0.1);
  border-radius: 9999px;
  color: #fff;
}
.header-bar__sign-up:hover {
  color: #fff;
}

.header-bar__item-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2.875rem;
  height: 2.875rem;
  background-color: rgba(3, 52, 50, 0.1);
  color: #fff;
  border-radius: 9999px;
}
.header-bar__item-tel:hover {
  color: #fff;
}

.challenge-projects {
  background-color: #f5f7fa;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.challenge-projects__title,
.challenge-projects__text {
  text-align: center;
}

.challenge-projects__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.challenge-projects__text {
  font-size: 1.125rem;
  margin-bottom: 2.875rem;
}

.challenge-meetings {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #eef2f7;
}

.challenge-meetings__title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: #0b3a42;
  margin-bottom: 1rem;
}
.challenge-meetings__title svg {
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

.challenge-form {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.challenge-form__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.challenge-form__text {
  font-size: 1rem;
  margin-bottom: 0;
}

.challenge-market {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #f5f7fa;
}

.challenge-market__title,
.challenge-market__text {
  text-align: center;
}

.challenge-market__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.challenge-market__text {
  font-size: 1.125rem;
  margin-bottom: 0;
}

.challenge-success {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.challenge-success__title {
  font-size: 2.5rem;
  margin-bottom: 0;
  text-align: center;
}

.tabs__tab-container {
  display: flex;
}

.tabs__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 3.875rem;
  padding: 0 3rem;
  background-color: #fff;
  background-color: #e7ecf4;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  color: #033432;
}
.tabs__tab:not(:first-of-type) {
  -webkit-margin-start: 1.625rem;
          margin-inline-start: 1.625rem;
}
.tabs__tab:hover {
  color: #033432;
}
.tabs__tab.tabs__tab-active {
  background-color: #fff;
  box-shadow: 0 -3px 3px -3px rgba(26, 187, 176, 0.2), 3px 0 3px -3px rgba(26, 187, 176, 0.2), -3px 0 3px -3px rgba(26, 187, 176, 0.2);
  color: #6a7d9b;
}

.tab__content {
  background-color: #fff;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 3.5rem 6.75rem;
}
