@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: normal;
  src: url(/fonts/YekanBakh-Regular.eot?1a1854606a05eb293122f3d17c0247d5);
  src: url(/fonts/YekanBakh-Regular.eot?1a1854606a05eb293122f3d17c0247d5?#iefix) format("embedded-opentype"), url(/fonts/YekanBakh-Regular.woff2?bfb362716166f865d0327b105129084c) format("woff2"), url(/fonts/YekanBakh-Regular.woff?5d5019fe5a7fe2d50cce095c77317098) format("woff");
}
@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: bold;
  src: url(/fonts/YekanBakh-Bold.eot?c876130a313d5e6b9b3a443f62d64d84);
  src: url(/fonts/YekanBakh-Bold.eot?c876130a313d5e6b9b3a443f62d64d84?#iefix) format("embedded-opentype"), url(/fonts/YekanBakh-Bold.woff2?8c84ec442c2b313aaccfbd551bd05311) format("woff2"), url(/fonts/YekanBakh-Bold.woff?1d710da3a97376832f2b313be2f9e512) format("woff");
}
html {
  height: 100%;
}

body {
  font-family: YekanBakh;
  min-height: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
}

@media (min-width: 1400px) {
  .container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1140px;
  }
}
.challenge-intro {
  background-color: #1fc5b9;
  padding-top: 3.5rem;
}

.challenge-intro__content {
  padding: 5rem 0;
}

.challenge-intro__title {
  font-size: 3.75rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #fff;
  text-shadow: #02a4a6 0 6px 0;
}

.header {
  background-color: inherit;
  padding: 0.5rem;
}

.header-bar__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bar__start {
  display: flex;
  align-items: center;
}
.header-bar__start .header-bar__item {
  -webkit-margin-start: 3rem;
          margin-inline-start: 3rem;
}

.header-bar__end {
  display: flex;
  align-items: center;
}

.header-bar__item-logo svg {
  color: #fff;
  fill: currentColor;
  transition: 0.2s;
}
.header-bar__item-logo:hover svg {
  color: #004545;
}

.header-bar__item,
.header-bar__sign-in,
.header-bar__language {
  color: #fff;
  font-size: 1rem;
  transition: color 0.2s;
}
.header-bar__item:hover,
.header-bar__sign-in:hover,
.header-bar__language:hover {
  color: rgba(255, 255, 255, 0.85);
}

.header-bar__sign-up,
.header-bar__language,
.header-bar__item-tel {
  -webkit-margin-start: 3rem;
          margin-inline-start: 3rem;
}

.header-bar__sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2.875rem;
  padding: 0 2.5rem;
  background-color: rgba(3, 52, 50, 0.1);
  border-radius: 9999px;
  color: #fff;
}
.header-bar__sign-up:hover {
  color: #fff;
}

.header-bar__language svg {
  margin-right: 0.5rem;
}

.header-bar__item-tel {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2.875rem;
  height: 2.875rem;
  background-color: rgba(3, 52, 50, 0.1);
  color: #fff;
  border-radius: 9999px;
}
.header-bar__item-tel:hover {
  color: #fff;
}

.challenge-intro__wrap {
  position: relative;
  height: 120px;
}

.challenge-intro__city {
  background-image: url(/images/city.svg?055a3b99f91b10ca501a4043b4d6a6c8);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 35%;
  position: absolute;
  width: 100%;
  height: inherit;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}
.challenge-intro__city.challenge-intro__city--back {
  background-image: url(/images/city-back.svg?cae285fde49f67a84196699a31de1e80);
  opacity: 0.75;
}

.challenge-projects {
  background-color: #f5f7fa;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.challenge-projects__title,
.challenge-projects__text {
  text-align: center;
}

.challenge-projects__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.challenge-projects__text {
  font-size: 1.125rem;
  margin-bottom: 2.875rem;
}

.challenge-meetings {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #eef2f7;
  position: relative;
}

.challenge-meetings__title {
  font-size: 1.5rem;
  color: #0b3a42;
  margin-bottom: 1rem;
}
.challenge-meetings__title svg {
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}

.challenge-meetings__text {
  font-size: 0.875rem;
  color: #155a6d;
}

.challenge-meetings__wrap {
  max-width: 85%;
  margin: auto;
}

.challenge-meetings__tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  color: #697d9a;
  overflow-x: auto;
  overflow-y: hidden;
}

.challenge-meetings__tab {
  font-size: 1rem;
  cursor: pointer;
  background-color: #d4dfee;
  border-radius: 12px;
  padding: 8px 15px;
  margin-left: 16px;
  min-width: 166px;
  text-align: center;
}

.challenge-meetings__tab--active {
  background-color: #20c5ba;
  color: #fff;
}

.challenge-meetings__separator-line {
  border-bottom: 2px solid #dee5ef;
  position: absolute;
  top: 334px;
  right: 0;
  left: 0;
  width: 100%;
  display: none;
}

.challenge-meetings__box {
  padding: 32px 32px 32px 24px;
  border: 2px solid #20c5ba;
  border-radius: 16px;
  margin-top: 24px;
  display: none;
  background-color: #fff;
}

.challenge-meetings__box--active {
  display: block;
}

.challenge-meetings__box-title {
  font-size: 20px;
  color: #20c5ba;
  font-weight: 600;
}

.challenge-meetings__box-title--secondary {
  color: #20c5ba;
  font-size: 18px;
  padding-top: 18px;
}

.challenge-meetings__box-text {
  color: #697d9a;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
}

@media (min-width: 576px) {
  .challenge-meetings {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .challenge-meetings__title {
    font-size: 2.5rem;
  }

  .challenge-meetings__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 992px) {
  .challenge-meetings__separator-line {
    display: block;
  }

  .challenge-meetings__tabs {
    color: #9db0cb;
    overflow: initial;
    margin-top: 3.5rem;
  }

  .challenge-meetings__tab {
    font-size: 1.125rem;
    background-color: transparent;
    padding: 0;
    margin-left: 0;
    min-width: unset;
    text-align: unset;
  }

  .challenge-meetings__tab--active {
    color: #042623;
    position: relative;
  }
  .challenge-meetings__tab--active::before {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: #20c5ba;
    z-index: 99;
  }

  .challenge-meetings__box {
    padding: 40px;
    position: relative;
    margin-top: 45px;
  }
  .challenge-meetings__box::before {
    top: -15px;
    right: 40px;
    position: absolute;
  }

  .challenge-meetings__box-title {
    font-size: 24px;
    color: #0e7571;
  }

  .challenge-meetings__box-title--secondary {
    color: #20c5ba;
  }
}
.challenge-form {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #fff;
}

.challenge-form__wrap {
  max-width: 85%;
  margin: auto;
}

.challenge-form__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.challenge-form__text {
  font-size: 1rem;
  margin-bottom: 2.5rem;
}

.challenge-form__group {
  background-color: #f5f7fa;
  padding: 1.875rem 2.5rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
}

.challenge-form__group-title {
  font-size: 1.5rem;
  color: #155a6d;
  position: relative;
  right: -2.5rem;
  margin-bottom: 0.75rem;
  padding-right: 1rem;
}
.challenge-form__group-title::before {
  content: "";
  background-color: #20c5ba;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0.25rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.challenge-form__group-wrap {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2.25rem;
}

.challenge-form__field-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.challenge-form__field-wrap input {
  width: calc(100% - 80px);
}

.challenge-form__label {
  color: #585858;
  position: relative;
  padding-left: 0.875rem;
  font-size: 1rem;
}
.challenge-form__label.challenge-form__label--required::before {
  content: "*";
  color: #20c5ba;
  font-size: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}

.challenge-form__input {
  background-color: #fff;
  border: 1px solid #dbe4f2;
  height: 2.5rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  border-radius: 0.75rem;
  line-height: 1.625;
}
.challenge-form__input:focus {
  outline: none;
  border: 1px solid #dbe4f2;
}
.challenge-form__input::-moz-placeholder {
  color: #9db0cb;
  text-align: right;
}
.challenge-form__input:-ms-input-placeholder {
  color: #9db0cb;
  text-align: right;
}
.challenge-form__input::placeholder {
  color: #9db0cb;
  text-align: right;
}
.challenge-form__input.challenge-form__input--ltr {
  direction: ltr;
  text-align: left;
}

.challenge-form__button-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.challenge-form__message {
  color: #22c5ba;
}
.challenge-form__message::before {
  content: "*";
  position: relative;
  top: 5px;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}

.challenge-form__button-submit {
  background-color: #1fc5b9;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.75rem;
  text-align: center;
  padding: 0.5rem;
  border: none;
}
.challenge-form__button-submit.challenge-form__button-submit--disable {
  background-color: #eef2f7;
  color: #9db0cb;
}

.challenge-market {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f5f7fa;
}

.challenge-market__title,
.challenge-market__text {
  text-align: center;
}

.challenge-market__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.challenge-market__text {
  font-size: 1.125rem;
  margin-bottom: 3rem;
}

.challenge-market__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.challenge-market__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem 0.5rem 0;
  background-color: #fff;
  border: 2px solid #cff2f2;
  border-radius: 10px;
  aspect-ratio: 1/1;
  text-align: center;
  transition: border 0.2s;
  overflow: hidden;
  max-width: 250px;
}
.challenge-market__item:hover {
  border-color: #00baba;
}

.challenge-market__item-img {
  height: 85px;
}

.challenge-market__item-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #0b3a42;
  margin-top: 1rem;
}

.challenge-market__item-subtitle {
  font-size: 1.25rem;
  color: #20c5ba;
}

.challenge-market__more-btn {
  display: block;
  font-size: 19px;
  color: #20c5ba;
  border: 2px solid currentColor;
  max-width: 250px;
  text-align: center;
  border-radius: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 45px auto 0;
  transition: 0.2s;
}
.challenge-market__more-btn:hover {
  color: #009e93;
}

.challenge-success {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.challenge-success__title {
  font-size: 2.5rem;
  margin-bottom: 0;
  text-align: center;
}

.challenge-projects__tabs-wrap {
  display: flex;
}

.challenge-projects__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 3.875rem;
  padding: 0 3rem;
  background-color: #fff;
  background-color: #e7ecf4;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  color: #033432;
}
.challenge-projects__tab:not(:first-of-type) {
  -webkit-margin-start: 1.625rem;
          margin-inline-start: 1.625rem;
}
.challenge-projects__tab:hover {
  color: #033432;
}
.challenge-projects__tab.is-active {
  background-color: #fff;
  box-shadow: 0 -3px 3px -3px rgba(26, 187, 176, 0.2), 3px 0 3px -3px rgba(26, 187, 176, 0.2), -3px 0 3px -3px rgba(26, 187, 176, 0.2);
  color: #6a7d9b;
}

.challenge-projects__tab-content {
  background-color: #fff;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 3.5rem 6.75rem;
}
