.challenge-form {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: $white;
}

.challenge-form__wrap {
    max-width: 85%;
    margin: auto;
}

.challenge-form__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.challenge-form__text {
    font-size: 1rem;
    margin-bottom: 2.5rem;
}

.challenge-form__group {
    background-color: transparent;
    padding: 1.875rem 0;
    border-radius: .75rem;
    margin-bottom: 1.5rem;
}

.challenge-form__group-title {
    font-size: 1.5rem;
    color: #155a6d;
    position: relative;
    right: 0;
    margin-bottom: .75rem;
    padding-right: 1rem;

    &::before {
        content: "";
        background-color: #20c5ba;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: .25rem;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }
}

.challenge-form__group-wrap {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
}

.challenge-form__field-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dbe4f2;
    border-radius: 0.75rem;
    padding-right: 1rem;
    padding-left: 1rem;

    input {
        width: calc(100% - 80px);
    }
}

.challenge-form__label {
	color: #585858;
	position: relative;
	font-size: 1rem;

    &.challenge-form__label--required::after {
        content: "*";
        color: #20c5ba;
        font-size: 1rem;
        font-weight: bold;
        position: relative;
        top: .125rem;
        right: .25rem;
    }

    &.challenge-form__label--hidden-mobile {
        display: none;
    }
}

.challenge-form__input {
    background-color: $white;
    border: none;
    height: 2.5rem;
    line-height: 1.625;

    &:focus {
        outline: none;
        border: none;
    }

    &::placeholder {
        color: #9db0cb;
        text-align: right;
    }

    &.challenge-form__input--ltr {
        direction: ltr;
        text-align: left;
    }
}

.challenge-form__textarea {
    width: 100%;
    border: none;
    resize: none;

    &:focus {
        outline: none;
        border: none;
    }
}

.challenge-form__button-wrap {
    display: flex;
    flex-direction: column;

}

.challenge-form__message {
    color: #22c5ba;
    margin-bottom: 1rem;

    &::before {
        content: "*";
        position: relative;
        top: 5px;
        margin-inline-end: .5rem;
    }
}

.challenge-form__button-submit {
    background-color: #1fc5b9;
    color: $white;
    font-size: 1rem;
    border-radius: .75rem;
    text-align: center;
    height: 2.5rem;
    padding: 0 3rem;
    border: none;

    &.challenge-form__button-submit--disable {
        background-color: #eef2f7;
        color: #9db0cb;
    }
}

@media (min-width: 992px) {
    .challenge-form__group {
        padding: 1.875rem 2.5rem;
        background-color: #f5f7fa;
    }

    .challenge-form__group-title {
        right: -2.5rem;
    }

    .challenge-form__group-wrap {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2.25rem;
    }

    .challenge-form__field--full {
        grid-column: span 2/span 2;
    }

    .challenge-form__field-wrap {
        border: none;
        border-radius: 0;
        padding-right: 0;
        padding-left: 0;

        input {
            width: calc(100% - 80px);
        }

        &.challenge-form__field-wrap--textarea {
            align-items: flex-start;
        }
    }

    .challenge-form__label {
        &.challenge-form__label--hidden-mobile {
            display: block;
        }
    }

    .challenge-form__input {
        border: 1px solid #dbe4f2;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        border-radius: .75rem;

        &:focus {
            border: 1px solid #dbe4f2;
        }
    }

    .challenge-form__textarea {
        background-color: $white;
        border: 1px solid #dbe4f2;
        border-radius: .75rem;
        padding: 1rem 1.5rem;
        width: calc(100% - 80px);
    }

    .challenge-form__button-wrap {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .challenge-form__message {
        margin-bottom: 0;
    }
}
