.challenge-intro {
    background-color: #1fc5b9;
    padding-top: 3.5rem;
}

.challenge-intro__content {
    padding: 5rem 0;
}

.challenge-intro__title {
    font-size: 3.75rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: $color-white;
    text-shadow: #02a4a6 0 6px 0;
}

.header {
    background-color: inherit;
    position: sticky;
    top: 0;
    padding: .5rem;
}

.header-bar__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bar__start {
    display: flex;
    align-items: center;

    .header-bar__item {
        margin-inline-start: 3rem;
    }
}

.header-bar__end {
    display: flex;
    align-items: center;
}

.header-bar__item-logo {
    svg {
        color: $color-white;
        fill: currentColor;
        transition: .2s;
    }

    &:hover {
        svg {
            color: #004545;
        }
    }
}

.header-bar__item,
.header-bar__sign-in,
.header-bar__language {
    color: $color-white;
    font-size: 1rem;
    transition: color .2s;

    &:hover {
        color: rgba($color: $color-white, $alpha: 0.85);
    }
}

.header-bar__sign-up,
.header-bar__language,
.header-bar__item-tel {
    margin-inline-start: 3rem;
}

.header-bar__sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2.875rem;
    padding: 0 2.5rem;
    background-color: rgba($color: #033432, $alpha: 0.1);
    border-radius: 9999px;
    color: $color-white;

    &:hover {
        color: $color-white;
    }
}

.header-bar__item-tel {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 2.875rem;
    height: 2.875rem;
    background-color: rgba($color: #033432, $alpha: 0.1);
    color: $color-white;
    border-radius: 9999px;

    &:hover {
        color: $color-white;
    }
}
