.challenge-market {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #f5f7fa;
}

.challenge-market__title,
.challenge-market__text {
    text-align: center;
}

.challenge-market__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.challenge-market__text {
    font-size: 1.125rem;
    margin-bottom: 3rem;
}

.challenge-market__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.challenge-market__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1rem .5rem 0;
    background-color: $white;
    border: 2px solid #cff2f2;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    text-align: center;
    transition: border .2s;
    overflow: hidden;
    max-width: 250px;

    &:hover {
        border-color: #00baba;
    }
}

.challenge-market__item-img {
    height: 85px;
}

.challenge-market__item-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #0b3a42;
    margin-top: 1rem;
}

.challenge-market__item-subtitle {
    font-size: 1.25rem;
    color: #20c5ba;
}

.challenge-market__more-btn {
    display: block;
    font-size: 19px;
    color: #20c5ba;
    border: 2px solid currentColor;
    max-width: 250px;
    text-align: center;
    border-radius: 6px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 45px auto 0;
    transition: .2s;

    &:hover {
        color: #009e93;
    }
}
