.challenge-market {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: #f5f7fa;
}

.challenge-market__title,
.challenge-market__text {
    text-align: center;
}

.challenge-market__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.challenge-market__text {
    font-size: 1.125rem;
    margin-bottom: 3rem;
}

.challenge-market__items {
    display: flex;
    flex-wrap: wrap;
}

.challenge-market__item {
    width: 25%;
    margin-top: 1rem;
}

.challenge-market__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 15rem;
    margin-right: .5rem;
    margin-left: .5rem;
    border: 2px solid #cff2f2;
    border-radius: .625rem;
    background-color: $color-white;

    &:hover {
        border-color: #00baba;
    }
}

.challenge-market__item-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0b3a42;
    margin-top: 1rem;
}

.challenge-market__item-subtitle {
    font-size: 19px;
    color: #20c5ba;
}

.challenge-market__more-btn {
    display: block;
    font-size: 19px;
    color: #20c5ba;
    border: 2px solid #1fc5b9;
    max-width: 250px;
    text-align: center;
    border-radius: 6px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 45px auto 0;
}
