.challenge-projects {
    background-color: #f5f7fa;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.challenge-projects__title,
.challenge-projects__text {
    text-align: right;
}

.challenge-projects__title {
    font-size: 1.5rem;
    color: #0b3a42;
    margin-bottom: 1rem;
}

.challenge-projects__text {
    font-size: .875rem;
    margin-bottom: 2.875rem;
}

.challenge-projects__tabs {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
}

.challenge-projects__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2.5rem;
    padding: 0 1rem;
    background-color: rgba($color: #00baba, $alpha: 0.1);
    border-radius: .75rem;
    color: #00baba;
    cursor: pointer;
    min-width: 140px;

    &:not(:first-of-type) {
        margin-inline-start: .5rem;
    }

    svg {
        display: none;
    }
}

.challenge-projects__boxes {
    margin-top: 1.5rem;
}

.challenge-projects__item {
    transition: all .2s;
    &:not(:last-of-type) {
        margin-bottom: 1rem;
    }
}

.challenge-projects__item-title {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #e7ecf4;
    height: 3rem;
    border-radius: .75rem;
}

.challenge-projects__item-title-text {
    font-size: 18px;
    color: #4d4d4d;

    &::before {
        content: "";
        display: inline-block;
        width: .5rem;
        height: .5rem;
        background-color: #20c5ba;
        border-radius: 9999px;
        margin-inline-end: .5rem;
    }
}

.challenge-projects__item-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
    background-color: #e7ecf4;
    position: absolute;
    top: .75rem;
    left: 1rem;
    color: #9db0cb;
    transition: .2s;

    svg {
        stroke: currentColor;
    }
}

.challenge-projects__item-content {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    display: none;
}

.challenge-projects__item--active {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid #20c5ba;
    border-radius: 1rem;
    background-color: $white;

    .challenge-projects__item-title {
        background-color: transparent;
    }

    .challenge-projects__item-toggle {
        background-color: #20c5ba;
        color: $white;
        transform: rotate(180deg);
    }

    .challenge-projects__item-content {
        display: block;
    }
}

@media (min-width: 992px) {
    .challenge-projects {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    .challenge-projects__title,
    .challenge-projects__text {
        text-align: center;
    }

    .challenge-projects__title {
        font-size: 2.5rem;
    }

    .challenge-projects__text {
        font-size: 1.125rem;
    }

    .challenge-projects__tab {
        height: 61px;
        padding: 0 3rem;
        background-color: $white;
        background-color: #e7ecf4;
        border-radius: 0;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        color: #033432;
        position: relative;

        &:not(:first-of-type) {
            margin-inline-start: 1.625rem;

            &.challenge-projects__tab--active {
                &::before {
                    content: url("../../../public/images/tab-corner.svg");
                    position: absolute;
                    bottom: -11px;
                    right: -12px;
                    transform: scaleX(-1);
                }
            }
        }

        &:hover {
            color: #033432;
        }

        &.challenge-projects__tab--active {
            background-color: $white;
            box-shadow: -10px 9px 16px 0px rgb(26 187 176 / 20%);
            color: #6a7d9b;

            &::after {
                content: url("../../../public/images/tab-corner.svg");
                position: absolute;
                bottom: -11px;
                left: -12px;
            }
        }

        svg {
            display: block;
            margin-inline-end: 1rem;
        }
    }

    .challenge-projects__boxes {
        position: relative;
        z-index: 99;
        margin-top: 0;
    }

    .challenge-projects__box {
        background-color: $white;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        padding: 3.5rem 6.75rem;
    }

    .challenge-projects__item-title {
        background-color: transparent;
    }
}
