.challenge-projects {
    background-color: #f5f7fa;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.challenge-projects__title,
.challenge-projects__text {
    text-align: center;
}

.challenge-projects__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.challenge-projects__text {
    font-size: 1.125rem;
    margin-bottom: 2.875rem;
}

.challenge-projects__tabs {
    display: flex;
}

.challenge-projects__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 61px;
    padding: 0 3rem;
    background-color: $white;
    background-color: #e7ecf4;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color: #033432;
    cursor: pointer;
    position: relative;

    &:not(:first-of-type) {
        margin-inline-start: 1.625rem;

        &.challenge-projects__tab--active {
            &::before {
                content: url("../../../public/images/tab-corner.svg");
                position: absolute;
                bottom: -11px;
                right: -12px;
                transform: scaleX(-1);
            }
        }
    }

    &:hover {
        color: #033432;
    }

    &.challenge-projects__tab--active {
        background-color: $white;
        box-shadow: -10px 9px 16px 0px rgb(26 187 176 / 20%);
        color: #6a7d9b;

        &::after {
            content: url("../../../public/images/tab-corner.svg");
            position: absolute;
            bottom: -11px;
            left: -12px;
        }
    }

    svg {
        margin-inline-end: 1rem;
    }
}

.challenge-projects__boxes {
    position: relative;
    z-index: 99;
}

.challenge-projects__box {
    background-color: $white;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 3.5rem 6.75rem;
}
