.challenge-success {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.challenge-success__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.challenge-success__chevron {
    display: none;
    justify-content: center;
    align-items: center;
    width: 2.875rem;
    height: 2.875rem;
    background-color: #D4E0EF;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 23px);
    cursor: pointer;
    z-index: 9999;
    transition: .2s;
    color: #fff;

    &:hover {
        background-color: #1ABBB0;
    }

    svg {
        stroke: currentColor;
    }
}

.challenge-success__chevron--right {
    right: 0;
}

.challenge-success__chevron--left {
    left: 0;

    svg {
        transform: rotate(180deg);
    }
}

.challenge-success__chevron--hide {
    visibility: hidden;
}

.challenge-success__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    &::-webkit-scrollbar {
        visibility: hidden;
    }
}

.challenge-success__item {
    min-width: 20%;
    position: relative;
    right: 0;
    text-align: center;
    transition: .2s;
    margin: 1rem;
}

@media (min-width: 992px) {
    .challenge-success__title {
        font-size: 2.5rem;
    }

    .challenge-success__chevron {
        display: flex;
    }

    .challenge-success__wrap {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding-right: 2.875rem;
        padding-left: 2.875rem;
    }

    .challenge-success__item {
        margin: 0;
    }
}
